body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.flex-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.mx-2 {
  margin-left: calc(2rem);
  margin-right: calc(2rem);
}

.none {
  text-decoration: none;
  list-style: none;
  color: #000;
}

.nav-bar {
  background-color: rgb(77, 77, 77);
  padding-top: 10px;
  padding-bottom: 10px;
  margin-top: 0px;
}

.nav {
  color: #fff;
}

.hero {
  background-image: url(./assests/West_19-6.jpg);
  background-size: cover;
  height: 100vh;
  color: #fff;
}

.vertical-center {
  align-items: center;
  margin-top: 30vh;
}

.arrow {
  border: solid white;
  border-width: 0 4px 4px 0;
  display: inline-block;
  padding: 8px;
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.no-background {
  background-color: rgba(0, 0, 0, 0);
  border: none;
  margin-left: 50%;
  margin-top: 45vh;
}

/* .fa {
  padding: 8px;
  font-size: 25px;
  width: 40px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}

.fa:hover {
  opacity: 0.7;
}

.fa-linkedin {
  background: #007bb5;
  color: white;
}

.fa-github {
  background: #24292e;
  color: white;
} */